.login-container {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: #fff
        /* linear-gradient(135deg, #dfd9d9, #f2dbd4) */
    ;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #eef2f7;

    h2 {
        color: #222;
        font-size: 24px;
        font-weight: bold;
    }

    .error {
        color: #ff4d4d;
        font-size: 14px;
        margin-bottom: 10px;
    }

    input {
        width: 90%;
        padding: 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
    }

    button {
        width: 100%;
        padding: 12px;
        background: #28a745;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: background 0.3s;
        margin: 0 10px;

        &:hover {
            background: #f5f3f3;
        }
    }
}